* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botanicos-icon {
  Background-image: url("../Imag/botanicos.jpg");
}

.productos-icon {
  Background-image: url("../Imag/productos.jpg");
}

.cocktails-icon {
  Background-image: url("../Imag/cocktails.jpg");
}

body {
  animation-duration: 1s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Footer {
  padding: 5px 0px;
  background-color: #87b093;
  color: white;
}

.Footer__Data, .Footer__Creator {
  font-size: 20px;
  font-weight: 400;
}

.Footer__Redes {
  font-size: 30px;
  font-weight: 500px;
  color: #1b272b;
}

.Footer {
  color: #1b272b;
}

.Footer__Redes span {
  color: #1b272b;
  font-size: 50px;
  padding: 1rem 2rem;
}

@media (max-width: 500px) {
  .Footer__Data, .Footer__Creator {
    font-size: 17px;
  }

  .Footer__Redes {
    font-size: 25px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 900;
  background-color: #87b090;
}

nav {
  background-color: #87b090;
}

.logo {
  margin-right: auto;
  color: #1b272b;
  font-weight: bold;
  font-size: 60px;
  animation-duration: 3s;
  animation-name: aparecer;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.Header__LogoLink {
  color: #1b272b;
}

.Header__NavLinks {
  list-style: none;
  margin: auto;
}

.Header__NavLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.Header__NavLinks {
  margin-right: 0px;
  font-size: 1.2rem;
  font-weight: 500;
}

li, a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .logo {
    font-size: 50px;
  }

  .Header__Link {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    font-size: 45px;
  }
}
.Header__Link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
  transition: 0.5s ease;
}

.Header__LogoLink:hover {
  color: #1b272b;
}

.Header__NavLinks li {
  color: rgba(255, 255, 255, 0.815);
  font-size: 20px;
  font-weight: 380;
}

@media screen and (min-width: 1080px) {
  .Header__Link:hover {
    font-size: 23px;
  }
}
/*ANIMACION LOGO*/
.logo {
  animation-duration: 1.5s;
  transform-origin: bottom;
  animation-name: bounce-6;
  animation-timing-function: ease;
}

@keyframes bounce-6 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
/*ANIMACION GLOBAL*/
main {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Cocktails__Portada h2,
.Contacto__Portada h2,
.NuestrosBotanicos__Portada h2,
.NuestrosProductos__Portada h2 {
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}
.Header__NavLinks {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Contacto {
  text-align: center;
  border-bottom: 15px solid #87B093;
  margin-bottom: 1rem;
}

.Contacto__Portada {
  height: 40vh;
  background-blend-mode: soft-light;
  background-color: #87B093;
  border-bottom: 15px solid #87B093;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contacto__Portada h1 {
  font-size: 70px;
  font-weight: bold;
  color: rgba(245, 237, 237, 0.76);
}

.Contacto__Fondo {
  background-image: url(../Imag/ladrillos.jpg);
  padding: 5rem;
}

.Contact__Label {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  color: #1b272b;
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 10px;
}
form h2 {
  color: #1b272b;
  font-size: 45px;
}

.input {
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 5px solid #1b272b;
}

.input:focus {
  border-bottom-color: #87B093;
}

.button {
  color: #1b272b;
  border: none;
  outline: none;
  background-color: rgba(135, 176, 147, 0.715);
  padding: 15px;
  width: 200px;
  margin: 10px;
  transition: all 300ms;
}

.button:hover {
  transform: scale(1.15);
}

@media (max-width: 1200px) {
  form h2 {
    font-size: 38px;
  }

  form {
    margin: 2rem 3rem;
    padding: 10px;
  }

  input {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .Contacto__Portada h1 {
    font-size: 60px;
  }
}
@media (max-width: 780px) {
  form {
    margin: 0;
  }

  .button {
    width: 100px;
  }

  .Contacto__Fondo {
    padding: 3rem;
  }
}
@media (max-width: 550px) {
  form h2 {
    font-size: 30px;
    font-weight: bold;
  }

  form {
    padding: 7px;
  }

  .button {
    width: 80px;
    font-size: 14px;
    padding: 1rem;
  }

  .Contacto__Fondo {
    padding: 2rem;
  }

  input, textarea {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .Contacto__Portada h1 {
    font-size: 50px;
  }
}
.Cocktails {
  text-align: center;
  border-bottom: 15px solid #87B093;
  padding-bottom: 3rem;
}

.Cocktails__Portada {
  height: 40vh;
  background-size: cover;
  background-position-y: 34%;
  background-blend-mode: soft-light;
  background-color: #87B093;
  border-bottom: 15px solid #87B093;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cocktails__Portada h1 {
  font-size: 70px;
  font-weight: bold;
  color: rgba(245, 237, 237, 0.8);
}

.Cocktails__Texto {
  margin-top: 3rem;
}

.Cocktails h3 {
  color: #1b272b;
  border-bottom: 2px solid #1b272b;
  font-size: 45px;
  font-weight: bold;
}

.Cocktails h4 {
  font-size: 28px;
  font-weight: 400;
  padding-top: 2rem;
  color: #1b272b;
}

.NuestrosBotanicos p {
  font-size: 20px;
  font-weight: 400;
  color: #1b272b;
}

.Cocktails__Foto {
  padding: 3rem 1rem;
}

.Cocktails__Foto img {
  width: 100% !important;
  max-width: 280px;
  max-height: 500px;
}

.Recetas {
  background-image: url(../Imag/ladrillos.jpg);
  padding: 60px 0px;
  border-bottom: 15px solid #87B093;
  margin-bottom: 1rem;
}

.Recetas h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #1b272b;
}

.Recetas h3 {
  font-size: 45px;
}

.Recetas p {
  font-size: 20px;
  font-weight: 400;
}

.Recetas__Gin {
  border: 10px double #1b272b;
  background-color: rgba(135, 176, 147, 0.815);
  margin: 2rem 5rem;
  color: #1b272b;
}

.Recetas__Gin h3 {
  padding-top: 3rem;
  font-weight: bold;
  text-align: center;
}

.Recetas__Gin_Ing {
  text-align: center;
  padding: 3rem 2.5rem 2rem 2.5rem;
}

.Recetas__Gin_Texto {
  text-align: center;
  padding: 3rem;
}

.TIP p {
  font-weight: 700;
  padding-top: 2rem;
  color: #1b272b;
}

.Recetas__Vodka {
  border: 10px double #87B093;
  background-color: rgba(241, 239, 239, 0.5);
  margin: 7rem 5rem;
  color: #1b272b;
}

.Recetas__Vodka h3 {
  padding: 3rem;
  font-weight: bold;
  text-align: center;
}

.Recetas__Vodka_Ing {
  text-align: center;
  padding: 0rem 3rem 3rem 3rem;
}

.Recetas__Vodka_Texto {
  text-align: center;
  margin: auto;
  padding: 3rem;
}

.Recetas__Negroni {
  border: 10px double #87B093;
  background-color: rgba(241, 239, 239, 0.5);
  margin: 7rem 5rem;
  color: #1b272b;
}

.Recetas__Negroni h3 {
  padding: 3rem;
  font-weight: bold;
  text-align: center;
}

.Recetas__Negroni_Ing {
  text-align: center;
  padding: 0rem 3rem 3rem 3rem;
}

.Recetas__Negroni_Texto {
  text-align: center;
  padding: 3rem;
  margin: auto;
}

.Recetas__Vermu {
  border: 10px double #1b272b;
  background-color: rgba(135, 176, 147, 0.815);
  margin: 7rem 5rem;
  color: #1b272b;
}

.Recetas__Vermu h3 {
  padding: 3rem;
  font-weight: bold;
  text-align: center;
}

.Recetas__Vermu_Ing {
  text-align: center;
  padding: 0rem 3rem 3rem 3rem;
}

.Recetas__Vermu_Texto {
  text-align: center;
  padding: 3rem;
  margin: auto;
}

/*prueba hoover*/
@media (min-width: 1400px) {
  .Cocktails_Animacion {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 400ms ease;
    margin: auto;
  }

  .Cocktails_Animacion:hover {
    transform: translate(5px, -5px);
    box-shadow: -10px 20px 20px -10px rgba(0, 0, 0, 0.5);
  }

  .Cocktails_Animacion {
    position: relative;
    z-index: 1;
    transition: all 400ms ease;
  }

  .Cocktails_Animacion .background-hover {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: -170px;
    transition: all 400ms ease;
    background-color: rgba(135, 176, 147, 0.5);
  }

  .Cocktails_Animacion:hover .background-hover {
    width: 400px;
    height: 800px;
    top: -70px;
    left: -70px;
  }

  .texto-prueba {
    z-index: 10;
    position: absolute;
    top: 1000px;
    left: -700px;
    transition: all 500ms ease;
  }

  .texto-prueba h1 {
    color: #093637;
    font-size: 40px;
    font-weight: 400;
  }

  .Cocktails_Animacion:hover .texto-prueba {
    top: 150px;
    left: 82px;
  }

  .Cocktails_Animacion2:hover .background-hover {
    background-color: rgba(135, 176, 147, 0.7);
  }

  .icon-drink {
    font-size: 50px;
    color: #093637;
  }
}
@media (max-width: 1400px) {
  .texto-prueba {
    display: none;
  }
}
@media (max-width: 1000px) {
  .Cocktails__Portada h1 {
    font-size: 60px;
  }

  .Recetas h2 {
    font-size: 60px;
  }

  .Cocktails h3 {
    font-size: 40px;
  }

  .Cocktails h4 {
    font-size: 25px;
  }

  .Recetas p {
    font-size: 18px;
  }

  .Recetas__Gin, .Recetas__Negroni, .Recetas__Vermu, .Recetas__Vodka {
    margin: 2rem;
  }

  .Recetas__Gin h3, .Recetas__Gin_Ing, .Recetas__Gin_Texto, .Recetas__Negroni h3, .Recetas__Vermu h3, .Recetas__Vodka h3, .Recetas__Negroni_Ing, .Recetas__Negroni_Texto, .Recetas__Vermu_Ing, .Recetas__Vermu_Texto, .Recetas__Vodka_Ing, .Recetas__Vodka_Texto {
    text-align: center;
    padding: 1rem 1rem;
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .Recetas__Gin, .Recetas__Negroni, .Recetas__Vermu, .Recetas__Vodka {
    margin: 1rem;
  }

  .Cocktails__Portada h1 {
    font-size: 50px;
  }

  .Recetas__Gin h3, .Recetas__Gin_Ing, .Recetas__Gin_Texto, .Recetas__Negroni h3, .Recetas__Vermu h3, .Recetas__Vodka h3, .Recetas__Negroni_Ing, .Recetas__Negroni_Texto, .Recetas__Vermu_Ing, .Recetas__Vermu_Texto, .Recetas__Vodka_Ing, .Recetas__Vodka_Texto {
    padding: 0.5rem;
  }

  .Cocktails h3 {
    font-size: 35px;
    font-weight: bold;
  }

  .Recetas p {
    font-size: 15px;
  }

  .Recetas__Gin h3, .Recetas__Negroni h3, .Recetas__Vermu h3, .Recetas__Vodka h3 {
    font-size: 35px;
  }
}
.NuestrosProductos {
  text-align: center;
  border-bottom: 15px solid #87B093;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
}

.NuestrosProductos__Portada {
  height: 40vh;
  background-blend-mode: soft-light;
  background-color: #87b093;
  border-bottom: 15px solid #87B093;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NuestrosProductos__Portada h1 {
  font-size: 70px;
  font-weight: bold;
  color: rgba(245, 237, 237, 0.76);
}

.NuestrosProductos__Texto {
  margin-top: 3rem;
}

.NuestrosProductos h2 {
  color: #1b272b;
  border-bottom: 2px solid #1b272b;
  font-size: 45px;
  font-weight: bold;
}

.NuestrosProductos h3 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #1b272b;
}

.NuestrosProductos p {
  font-size: 20px;
  font-weight: 400;
  color: #1b272b;
}

.NuestrosProductos__Linea {
  padding: 3rem;
}

@media (max-width: 1000px) {
  .NuestrosProductos__Portada h1 {
    font-size: 60px;
  }

  .NuestrosProductos h2 {
    font-size: 38px;
  }

  .NuestrosProductos h3 {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .NuestrosProductos__Portada h1 {
    font-size: 50px;
  }

  .NuestrosProductos h2 {
    font-size: 30px;
  }

  .NuestrosProductos h3 {
    font-size: 20px;
  }
}
.Productos__box, .Productos__gin, .Productos__acc {
  max-width: 250px;
}

.Productos__texto, .Productos__marca, .Productos__tipo {
  margin-top: 2rem;
}

.NuestrosBotanicos {
  text-align: center;
  border-bottom: 15px solid #87B093;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
}

.NuestrosBotanicos__Portada {
  height: 40vh;
  background-blend-mode: soft-light;
  background-color: #87b093;
  border-bottom: 15px solid #87B093;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NuestrosBotanicos__Portada h1 {
  font-size: 70px;
  font-weight: bold;
  color: rgba(245, 237, 237, 0.76);
}

.NuestrosBotanicos__Texto {
  margin-top: 3rem;
}

.NuestrosBotanicos h2 {
  color: #1b272b;
  border-bottom: 2px solid #1b272b;
  font-size: 45px;
  font-weight: bold;
}

.NuestrosBotanicos h3 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: #1b272b;
}

.NuestrosBotanicos p {
  font-size: 18px;
  font-weight: 400;
  color: #1b272b;
}

.NuestrosBotanicos__Linea {
  padding: 3rem;
}

.Lineas__Citrica {
  background-color: #87B093;
  border-radius: 15px;
  padding: 3rem 3rem 3rem 130px;
}

.Lineas__Clasica {
  border: 10px solid #87B093;
  margin: 2rem 0rem;
  border-radius: 15px;
  padding: 3rem 100px 3rem 3rem;
}

.Lineas__Premium {
  background-color: #87B093;
  border-radius: 15px;
  padding: 3rem 3rem 3rem 130px;
}

@media (max-width: 1000px) {
  .NuestrosBotanicos__Portada h1 {
    font-size: 60px;
  }

  .NuestrosBotanicos h2 {
    font-size: 38px;
  }

  .NuestrosBotanicos h3 {
    font-size: 25px;
  }

  .NuestrosBotanicos__Linea {
    padding: 1rem;
  }

  .NuestrosBotanicos p {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .NuestrosBotanicos__Portada h1 {
    font-size: 50px;
  }

  .NuestrosBotanicos h2 {
    font-size: 30px;
    border-top: 2px solid #1b272b;
  }

  .NuestrosBotanicos h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .Botanicos__Lineas {
    margin-bottom: 3rem;
  }

  .NuestrosBotanicos p {
    font-size: 16px;
  }
}
.Main__Imagenes {
  height: 90vh;
  background-image: url(../Imag/completo2.jpg);
  background-size: cover;
  border-bottom: 15px solid #87B093;
}

.Botanicos {
  padding: 60px 0px;
  text-align: center;
  border-bottom: 15px solid #87B093;
}

.Botanicos img {
  max-width: 100%;
}

.Botanicos h2 {
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #477167;
}

.Botanicos h3 {
  color: #1b272b;
  border-bottom: 2px solid #1b272b;
  font-size: 45px;
}

.Botanicos p {
  font-size: 20px;
  font-weight: 400;
  color: #1b272b;
}

.Lineas {
  align-items: center;
  margin-bottom: 2rem;
}

.Lineas__Citrica {
  background-color: #87B093;
  border-radius: 15px;
  padding: 3rem 3rem 3rem 8rem;
}

.Lineas__Clasica {
  border: 10px solid #87B093;
  margin: 2rem 0rem;
  border-radius: 15px;
  padding: 3rem 8rem 3rem 3rem;
  background-color: white;
}

.Lineas__Premium {
  background-color: #87B093;
  border-radius: 15px;
  padding: 3rem 3rem 3rem 8rem;
}

.Lineas img {
  border-radius: 20px;
  width: 60%;
  max-width: 260px;
  min-width: 200px;
}

.Productos {
  background-image: url(../Imag/ladrillos.jpg);
  padding: 60px 0px;
  text-align: center;
  border-bottom: 15px solid #87B093;
}

.Productos h2 {
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #1b272b;
}

.Lineas__Fotos div {
  width: 400px;
  margin-bottom: 30px;
}

.Lineas__Fotos img {
  width: 100%;
  border: 10px solid #87B093;
  box-shadow: 10px 10px;
}

.Cocktails__Home img {
  max-width: 100%;
  width: 60%;
  align-items: center;
  box-shadow: 10px 10px;
  margin-bottom: 1rem;
}

.Tragos {
  text-align: center;
  padding: 60px 0px;
  border-bottom: 15px solid #87B093;
  margin-bottom: 1rem;
}

.Tragos h2 {
  padding-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
  color: #477167;
}

.Tragos h3 {
  color: #1b272b;
  font-size: 45px;
}

.Tragos p {
  font-size: 20px;
  font-weight: 400;
  color: #1b272b;
}

.Tragos__Intro {
  background-color: #87B093;
  padding: 80px 0px;
}

.Lineas__Citrica {
  position: relative;
}

.Lineas__Citrica::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  background: linear-gradient(to bottom, #87B093, #1b272b);
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
}

.Lineas__Premium {
  position: relative;
}

.Lineas__Premium::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  background: linear-gradient(to bottom, #87B093, #1b272b);
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
}

.Lineas__Clasica {
  box-shadow: inset 0 0 15px #093637;
}

@media screen and (max-width: 1000px) {
  .Lineas__Citrica, .Lineas__Clasica, .Lineas__Premium {
    padding: 3rem;
  }

  .Lineas__Citrica p, .Lineas__Premium p {
    padding-bottom: 2rem;
  }

  .Lineas__Clasica h3 {
    padding-top: 2rem;
  }

  .Botanicos h2, .Productos h2, .Tragos h2 {
    font-size: 60px;
  }

  .Header__Logo {
    padding: 0;
    width: auto;
  }

  Header__NavLinks {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .Lineas__Citrica, .Lineas__Clasica, .Lineas__Premium {
    margin: 0rem 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  .Botanicos h2, .Productos h2, .Tragos h2 {
    font-size: 50px;
  }

  .Botanicos h3, .Productos h3, .Tragos h3 {
    font-size: 35px;
    font-weight: bold;
  }

  .Lineas__Citrica, .Lineas__Clasica, .Lineas__Premium, .Tragos__Intro {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .Tragos__Intro {
    margin: 0rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 720px) {
  .Lineas__Fotos img {
    max-width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .Lineas__Fotos img, .Cocktails__Home img {
    box-shadow: none;
  }
}

/*# sourceMappingURL=Style.css.map */
