.Contacto {
    text-align: center;
    border-bottom: 15px solid $primary-color;
    margin-bottom: 1rem;
}
.Contacto__Portada {
    height: 40vh;
    background-blend-mode: soft-light;
    background-color: $primary-color;
    border-bottom: 15px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contacto__Portada h1 {
    font-size: 70px;
    font-weight: bold;
    color: rgba(245, 237, 237, 0.76);
}
.Contacto__Fondo {
    background-image: url(../Imag/ladrillos.jpg);
    padding: 5rem;
}

.Contact__Label {
    display:flex;
    justify-content: center;
    align-items: center;
}

form {
    color: #1b272b;
    display: flex;
    flex-flow: column;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 10rem;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
    border-radius: 10px;
    h2 {
        color: #1b272b;
        font-size: 45px;
    }
}
.input {
    border: none;
    resize: none;
    outline: none;
    padding: 15px 0px;
    width: 80%;
    margin: 20px;
    transition: all 300ms;
    border-bottom: 5px solid #1b272b;
}
.input:focus {
    border-bottom-color: $primary-color;
}
.button {
    color: #1b272b;
    border: none;
    outline: none;
    background-color: rgba(135, 176, 147, 0.715);
    padding: 15px;
    width: 200px;
    margin: 10px;
    transition: all 300ms;
}
.button:hover {
    transform: scale(1.15);
}
@media (max-width: 1200px) {
    form h2 {
        font-size: 38px;
    }
    form {
        margin: 2rem 3rem;
        padding: 10px;
    }
    input {
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    .Contacto__Portada h1 {
        font-size: 60px;
    }
}
@media (max-width: 780px) {
    form {
        margin: 0;
    }
    .button {
        width: 100px;
    }
    .Contacto__Fondo {
        padding: 3rem;
    }
}
@media (max-width: 550px) {
    form h2 {
        font-size: 30px;
        font-weight: bold;
    }
    form {
        padding: 7px;
    }
    .button {
        width: 80px;
        font-size: 14px;
        padding: 1rem;
    }
    .Contacto__Fondo {
        padding: 2rem;
    }
    input, textarea {
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .Contacto__Portada h1 {
        font-size: 50px;
    }
}