* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: #87b090;
  }
  nav {
    background-color: #87b090;
  }
  .logo {
    margin-right: auto;
    color: #1b272b;
    font-weight: bold;
    font-size: 60px;
    animation-duration: 3s;
    animation-name: aparecer;
  }
  .navbar-collapse {
    flex-grow: 0 !important;
  }
  .Header__LogoLink {
    color:#1b272b;
}
.Header__NavLinks {
    list-style: none;
    margin: auto;
}
.Header__NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}
  .Header__NavLinks {
    margin-right: 0px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  li, a {
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .logo {
      font-size: 50px;
  }
  .Header__Link {
      font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .logo {
      font-size: 45px;
  }
}
.Header__Link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.753);
  transition: 0.5s ease;
}
.Header__LogoLink:hover {
  color: #1b272b
}
.Header__NavLinks li {
  color: rgba(255, 255, 255, 0.815);
  font-size: 20px;
  font-weight: 380;
}
@media screen and (min-width: 1080px) {
  .Header__Link:hover {
      font-size: 23px;   
  }
}